@model AlgoApp.Pages.Shared.EditorTemplates.SelectionOptionItemModel

<tr>
    <td class="align-middle">
        <input asp-for="@Model.SelectionOption.Content" class="form-control">
    </td>
    <td class="align-middle">

        <select asp-for="@Model.SelectionOption.Correct" class="form-control">
        </select>
    </td>
    <td class="align-middle"><button class="btn btn-danger">删除</button></td>
</tr>